@{
    ViewBag.Title = "Home Page";
}

<div class="intro row">
    <div class="TBH col-lg-4">
        <h1>The Peoples Bank</h1>
        <p class="lead">
            For the by people. By the people.
        </p>
    </div>
    <div class="col-lg-8">
        <h1>
            <a class="homeinfo" href="#bottom">How can we help you today?</a>
            
        </h1>
    </div>
</div>

<div class="middle row">
    <div class="happyfamily col-lg-12">

    </div>
</div>
<a id="bottom"></a>
<div class="information row">
    <div class="info col-md-4">
        <a class="infoblock" href="#"><h2>Online Banking</h2></a>
     
        Complete everyday banking tasks with the tap of a finger.<br />
        Open round-the-clock.<br />
        Control and monitor your finances with ease.<br />
    </div>
    <div class="info col-md-4">
        <a class="infoblock" href="#"><h2>Explore ways to bank</h2></a>
        <p>Whether you need a little guidance with a task, or you're curious to see how else you can bank with us – <a class="infoblock" href="#">click here</a>For any of your concerns or queries.</p>
    </div>
    <div class="info col-md-4">
        <a class="infoblock" href="#"><h2>Visit Support Centre</h2></a>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    </div>
</div>