@{
    ViewBag.Title = "Home Page";
}

<div class="intro row">
    <div class="TBH col-lg-4">
        <h1>The Peoples Bank</h1>
        <p class="lead">
            For the by people. By the people.
        </p>
    </div>
    <div class="col-lg-8">
        <h1>
            How can we help you today?
        </h1>
    </div>
</div>

<div class="middle row">
    <div class="happyfamily col-lg-12">

    </div>
</div>
<div class="row">
    <div class="info col-md-4">
        <h2>Online Banking</h2>
        <p>
            Complete everyday banking tasks with the tap of a finger.

            Open round-the-clock.

            Control and monitor your finances with ease.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="info col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="info col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>